<!--<p>main works!</p>-->
<!--<button nz-button nzType="primary" (click)="open()">Open</button>-->
<nz-drawer
    [nzClosable]="false"
    [nzVisible]="visible"
    nzPlacement="right"
    nzTitle="工作流节点编辑"
    (nzOnClose)="close()"
>
    <app-star-panel [selData]="selectedModel" (customClick)="onItemCfgChange($event['type'],$event['value'])"></app-star-panel>

    <div class="footer">
        <button type="button" (click)="close()" class="ant-btn" style="margin-right: 8px;"><span>Cancel</span></button>
        <button type="button" (click)="close()" class="ant-btn ant-btn-primary"><span>Submit</span></button>
    </div>
</nz-drawer>

<app-toolbar-panel #toolbar></app-toolbar-panel>

<div style="display: flex;width: 1500px;height: 800px;">
    <app-item-panel #addItemPanel style="width: 20%;"></app-item-panel>
    <div #canvas class="canvasPanel" style="width: 100%;border: 1px solid green;"></div>
</div>

<!--<div #salimsu class="salimsu" style="height: 20px;"></div>-->
<!--<div class="col" #div>-->
<!--    <app-alert #alert1 type="success"></app-alert>-->

