<div w style="border: 1px solid blue;height: 100%;" class="itemPanel" #itemPanel_dom>
<!--    <nz-list nzBordered>-->
<!--        <nz-list-item style="flex-direction: column;">-->
<!--            -->

<!--        </nz-list-item>-->
<!--    </nz-list>-->


    <img data-item="{clazz:'start',size:'30*30',label:''}" src="../assets/flow/start.svg" alt="" style="width: 40px;height: 40px;">
    <img data-item="{clazz:'end',size:'30*30',label:''}" src="../assets/flow/end.svg" alt="" style="width: 40px;height: 40px;">
</div>
