<page-header></page-header>
<div id="mountNode" style="border: 3px solid red;width: 1200px;"></div>
<div id="mountNode1" style="border: 3px solid red;width: 1200px;margin-top: 40px;"></div>
<div style="border: 3px solid red;width: 1200px;margin-top: 40px;">
    <select id="selector">
        <option value="default">Default mode</option>
        <option value="addNode">Add nodes by clicking canvas</option>
        <option value="addEdge">Add edges by clicking two end nodes</option>
    </select>
    <div id="mountNode3"></div>
</div>
